.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 5px rgba(0, 0, 0, 0.555);
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 3px;
    background-image: url('../../assets/modal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .Bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition:all .85s ease-in-out;
    background-color: rgb(21, 117, 93);
    opacity: .56;
} */

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}