.Page{
   position: fixed;
}
/* .Page a.active{
    border-right:4px solid white;
} */
.Menu,.MenuU{
    background-color: black;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius:50% ;
    margin: 0.5rem 0 0 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.Menu::before,.Menu::after,.MenuU::before,.MenuU::after{
    content: "";
    background-color: white;
    height: 2px;
    width: 1rem;
    position: absolute; 
    transition: all 0.3s ease;   
}

.Menu::before{
    top: 1.5;
    transform: rotate(135deg);
}

.Menu::after{
    top: 1.2;
    transform: rotate(-135deg);
}
.MenuU::before{
    top: 1rem;
    transform: rotate(0);
}
.MenuU::after{
    top: 1.5rem;
    transform: rotate(0);
}

.Container{
    background-color: black;
    width: 12rem ;
    height: 80vh;
    margin-top: 1rem;
    border-radius: 0 30px 30px 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
}
.ContainerU{
    background-color: black;
    width: 3.5rem ;
    height: 80vh;
    margin-top: 1rem;
    border-radius: 0 30px 30px 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
}

.Logo{
    width: 2rem;
}
.Logo img{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgb(236, 222, 222);
    border-radius: 30%;
}

.Sidebar,.SidebarU{
    color: white;
    height: 30vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 2rem 0;
    position: absolute;
    top: 5rem;
    left: 0;
    transition: all 0.3s ease;
    border-radius: 0 30px 30px 0z;
}
.Sidebar{
    width: 12rem;
    border-radius: 15%;
    background-color: black;
}
.SidebarU{
    width: 3.5rem;
}
/* .Item{
    text-decoration: none;
    width: 1000%;
    padding:1rem 0 ;
    cursor: pointer;
    display: flex;
    padding-left:1rem;
    color: white;
}
.Item img{
    width: 1.5rem;
    height: auto;
    filter: invert(92%) sepia(4%) saturate(1033%) hue-rotate(169deg) brightness(78%) contrast(85%);
    margin-left: 0.5rem;
}
.Item:hover{
    border-left: 4px solid white;
}
.Item:hover img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}  */

.Text{
    width: 100% ;
    overflow: hidden;
    margin-left: 1rem;
    transition: all 0.3s ease;
}
.TextU{
    width:0%;
    overflow: hidden;
    margin-left: 0;
    transition: all 0.3s ease; 
}
.Logout{
    border-radius: 30%;
} 
.Logout:hover{
    background-color:rgb(201, 187, 187) ;
    content: attr("LOG OUT");
}