.Content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.empty{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition:all .85s ease-in-out;
    opacity: .94;
    background-color: rgb(21, 117, 93);
}